<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>iBlog API</title>
  </head>
  <body>
    <div class="header">
      <h2>hidden-falls-93050.herokuapp.com</h2>
    </div>
    <div class="header2">
      <h4>iBlog API (Version 1.0)</h4>
    </div>
    <div class="container">
      <h4>Overview</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>API URL</td>
            <td>https://hidden-falls-93050.herokuapp.com/api</td>
          </tr>
          <tr>
            <td>API Version</td>
            <td>1.0</td>
          </tr>
          <tr>
            <td>Request Method</td>
            <td>GET</td>
          </tr>
          <tr>
            <td>Response Format</td>
            <td>JSON</td>
          </tr>
        </tbody>
      </table>

      <div class="articles">
        <h4>Articles</h4>
        <code>Get all articles</code>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/articles</div>
      </div>

      <div class="article-detail">
        <h4>Article</h4>
        <code>Get article details by id</code>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/article/{id}</div>
      </div>

      <div class="articles">
        <h4>Search</h4>
        <code>Search articles by title or keywords</code>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/search/articles/{query}</div>
      </div>

      <div class="articles">
        <h4>Category</h4>
        <code>Get articles by category</code>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/articles/category/{query}</div>
      </div>
    </div>
    <footer>&copy; 2021 iBlog Media. All rights reserved</footer>
  </body>
</html>
