<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>iBlog API</title>
  </head>
  <body>
    <div class="header">
      <h2>hidden-falls-93050.herokuapp.com</h2>
    </div>
    <div class="header2">
      <h4>iBlog API (Version 1.0)</h4>
    </div>
    <div class="container">
      <h4>Overview</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>API URL</td>
            <td>https://hidden-falls-93050.herokuapp.com/api</td>
          </tr>
          <tr>
            <td>API Version</td>
            <td>1.0</td>
          </tr>
          <tr>
            <td>Request Method</td>
            <td>GET</td>
          </tr>
          <tr>
            <td>Response Format</td>
            <td>JSON</td>
          </tr>
        </tbody>
      </table>

      <div class="articles">
        <h4>Articles</h4>
        <h5>Get all articles</h5>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/articles</div>

        <h6>Response</h6>
        <pre>
          <code>
            {
              "success": true,
              "count": 5,
              "articles": [
                  {
                      "_id": "616828ece306933e050fcdc2",
                      "title": "1914 translation by H. Rackham",
                      "body": "\"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.\"",
                      "image": "https://res.cloudinary.com/ernestizic/image/upload/v1634216172/images/rohs82nomyyvpx3yfqrh.jpg",
                      "category": "technology",
                      "createdAt": "2021-10-14T12:56:12.402Z",
                      "__v": 0
                  },
                  {
                      "_id": "616889f846c9239a11cd7feb",
                      "title": "A new title",
                      "body": "Just checking",
                      "category": "entertainment",
                      "createdAt": "2021-10-14T19:50:16.388Z",
                      "__v": 0
                  },
                  ...
              ]
            }
          </code>
        </pre>
      </div>

      <div class="article-detail">
        <h4>Article</h4>
        <h5>Get article details by id</h5>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/article/{id}</div>

        <h6>Response</h6>
        <pre>
          <code>
            {
              "success": true,
              "article": {
                  "_id": "616828ece306933e050fcdc2",
                  "title": "1914 translation by H. Rackham",
                  "body": "\"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.\"",
                  "image": "https://res.cloudinary.com/ernestizic/image/upload/v1634216172/images/rohs82nomyyvpx3yfqrh.jpg",
                  "category": "technology",
                  "createdAt": "2021-10-14T12:56:12.402Z",
                  "__v": 0
              }
            }
          </code>
        </pre>
      </div>

      <div class="articles">
        <h4>Search</h4>
        <h5>Search articles by title or keywords</h5>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/search/articles/{query}</div>

        <h6>Response</h6>
        <pre>
          <code>
            {
              "success": true,
              "count": 1,
              "articles": [
                  {
                      "_id": "616889f846c9239a11cd7feb",
                      "title": "A new title",
                      "body": "Just checking",
                      "category": "entertainment",
                      "createdAt": "2021-10-14T19:50:16.388Z",
                      "__v": 0
                  }
              ]
            }
          </code>
        </pre>
      </div>

      <div class="articles">
        <h4>Category</h4>
        <h5>Get articles by category</h5>
        <h6>Request example usage</h6>
        <div class="request">https://hidden-falls-93050.herokuapp.com/api/v1/articles/category/{query}</div>

        <h6>Response</h6>
        <pre>
          <code>
            {
              "success": true,
              "count": 2,
              "articles": [
                  {
                      "_id": "616889f846c9239a11cd7feb",
                      "title": "A new title",
                      "body": "Just checking",
                      "category": "entertainment",
                      "createdAt": "2021-10-14T19:50:16.388Z",
                      "__v": 0
                  },
                  {
                      "_id": "6168a10e8fd4e0c6b0ea6a8f",
                      "title": "Just a little sin",
                      "body": "a mount zion movie",
                      "category": "entertainment",
                      "createdAt": "2021-10-14T21:28:46.200Z",
                      "__v": 0
                  }
              ]
            }
          </code>
        </pre>
      </div>
    </div>
    <footer>&copy; 2021 iBlog Media. All rights reserved</footer>
  </body>
</html>
