<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <title>iBlog API</title>
  </head>
  <body>
    <div class="header">
      <h2>iBlog API</h2>
    </div>
    <div class="header2">
      <h4>Overview</h4>
    </div>
    <div class="container">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>API URL</td>
            <td>http://localhost:5000/api</td>
          </tr>
          <tr>
            <td>API Version</td>
            <td>1.0</td>
          </tr>
          <tr>
            <td>Request Method</td>
            <td>GET</td>
          </tr>
          <tr>
            <td>Response Format</td>
            <td>JSON</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
